{{ define "views/home.html" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.title }}</title>
    {{ template "layouts/head.html". }}
    <link href="/static/adminui/css/admin.css" rel="stylesheet" />
  </head>

  <body>
    <div class="layui-fluid">
      <button class="layui-btn" onclick="layer.msg('hello world')">
        Hello World
      </button>
    </div>

    {{ template "layouts/script.html". }}
    <script>
      layui.config({ base: "/static/modules/" }).use("home");
    </script>
  </body>
</html>
{{ end}}
