{{ define "views/main.html" }}

<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "layouts/head.html". }}
</head>

<body class="layui-layout-body" id="LAY_home_iframe">
  <div id="LAY_app" style="visibility: hidden">
    <div class="layui-layout layui-layout-admin">
      <!-- 顶部菜单栏 -->
      {{ template "layouts/header.html". }}

      <!-- 左侧菜单栏 -->
      {{ template "layouts/sidebar.html". }}

      <!-- 页面标签 -->
      {{ template "layouts/tabs.html" . }}

      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="home.html" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>

      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  {{ template "layouts/script.html". }}
  <script>
    layui.use("index");
  </script>
</body>

</html>

{{ end }}
